.colorWrapper {
  display: flex;
  flex-direction: column;
  height: 100VH;
  width: 100%;
}

.colorTable {
  flex-grow: 1;
  overflow-y: scroll;
  overflow-x: auto;
}

table {
  table-layout: fixed;
  font-size: 0.75em;
  font-weight: 500;
  border-spacing: 0;
  cursor: default;
}

th {
  text-align: left;
}

td,th {
  border: solid #ccc 1px;
  padding: 2px;
}

th {
  position: sticky;
}

tr:hover td {
  border-bottom: solid red 1px;
  border-top: solid red 1px;
  background-color: #ccc;
}

.worldName {
  max-width: 8em;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.colorCell {
  max-width: 8em;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.lightColor {
  color: black;
}

.darkColor {
  color: white;
}

.groupHeader {
  text-align: center;
}

.columnHeader {
  max-width: 8em;
  padding: 0 12px;
}

.worldTier {
  text-align: center;
}

.headerRow {
  background-color: #AAF;
  border-bottom: solid #888 2px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0.25em;
}

.title {
  font-weight: bold;
  font-size: 150%;
  flex-grow: 1;
}

.headerWithImage {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.itemImage {
  width: 48px;
  height: 48px;
  margin: -6px -4px;
}

footer {
  font-weight: 500;
  padding: 0.5em;
}

.githubLink {
  padding-left: 0.5em;
  border-left: solid #444 1px;
}

.loading {
  display: flex;
  height: 100VH;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: xx-large;
  font-weight: bold;
}