.switcher {
    display: flex;
    flex-direction: row;
    padding: 0 0.5em;
    align-items: center;
}

.switcher + .switcher {
    border-left: solid #444 1px;
}

.switcherName {
    font-weight: bold;
    margin-right: 0.25em;
}

.switcherOption {
    border: solid #888 1px;
    border-radius: 4px;
    background-color: white;
    font-weight: bold;
    cursor: pointer;
    padding: 0.25em;
    margin: 0.1em;
}

.switcherSelected {
    border-color: #444;
    background-color: #ACA;
}